@CHARSET "ISO-8859-1";
 @import url("https://fonts.googleapis.com/css?family=Montserrat:700");
body{
  background-image:url("bg.jpg");
  background-position:center;
  background-attachment:fixed;
  background-size:cover;
}

.panel-heading{
  float:left;
  width:40%;
    background-color:#558FD3;
  margin-top:17px;
  margin-left:50px;
  color:white;
 
  border-radius: 30px !IMPORTANT;
  height:650px;
  
 
}
.ques{
  /*font-family: 'Modern Antiqua', cursive;*/
  font-family:  'Cabin Sketch', cursive;
  font-size:20px;
   font-weight:700;
}

.code{
  margin:0 auto;
  /*font-family: 'Gaegu', cursive;*/
  /*font-family:quesfont;*/
  font-family:  'Cabin Sketch', cursive;
  font-size:20px;
  margin-top: 30px;
  font-weight:700;
  color:#696969;

}

button{
  height:70px;
  font-size:20px;
  width:500px;
  
}
.options{

    float: left;
    margin-left: 100px;
    margin-top: -20px;
   
}
 

li {
  list-style-type: none;
  position: relative;
  margin: 50px;
 
  padding-bottom: 5px;
  background-color: transparent;
  font-family: sans-serif;
  width:  450px;
  height: 60px;
  border-radius: 5px;
  text-align: center;
  font-size: 20px;
  font-family:  'Cabin Sketch', cursive;
  color:white;
  cursor: pointer;
  border-color: #03304B; 
  transition: all 150ms ease-in-out;
  box-shadow: 0 0 100px 100px #03304B inset, 0 0 0 0  #03304B;
  padding-top: 15px;
}

li:hover, li:focus{
  outline: 0;
  box-shadow: 0 0 10px 0  #03304B inset, 0 0 10px 4px  #03304B;
 color:#000;
  font-weight: 700;

}
li.done {
  
  box-shadow: 0 0 10px 0  #03304B inset, 0 0 10px 4px  #03304B; 
  color:#000;
  font-weight: 700;


}

li.done::before {
  content: '';
  position: absolute;
  border-color: #000;
  border-style: solid;
  /*border-width: 0 0.3em 0.25em 0;*/
  border-width: 0 4px 4px 0;
  height: 1em;
  top: 1.3em;
  left: 1em;
  margin-top: -1em;
  transform: rotate(45deg);
  width: 0.5em;
   padding-top: 25px;
   padding-bottom: -10px;
}

#showtime{
 
 font-size: 23px;
 padding-left: 780px;
 color:#2A5687;
 font-weight: 900;
 font-family: timerfont;
 margin-top: -8%;
}
#tm{
	font-size: 23px;
 padding-left: 780px;
 color:#2A5687;
 font-weight: 900;
 font-family: timerfont;
 margin-top: 2%;
 margin-left: 5%;
}
#t1{
	margin-top: -23%;
}


.shiny-btn {
   color: white;
  font-weight: bold;
  font-size: 3rem;
  text-decoration: none;
  text-transform: uppercase;
  margin:53% 37%;
  padding: 30px 90px;
  background-color: #225186;
  transition: transform 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55), background-position 800ms cubic-bezier(0.68, -0.55, 0.265, 1.55), box-shadow 500ms linear;
  background-image: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="utf-8"?><svg version="1.1" id="Livello_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"   width="1296px" height="768px" viewBox="0 0 1296 768" enable-background="new 0 0 1296 768" xml:space="preserve"><g><polygon fill="#8694D1" points="766.6,1.2 -0.2,768 200.7,768 967.5,1.2   "/></g><g><polygon fill="#8694D1" points="1094.8,1.2 328,768 528.9,768 1295.7,1.2   "/></g></svg>');
  background-size: contain;
  background-position: -200px center;
  background-repeat: no-repeat;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  width:400px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  font-family: opfont;
}
.shiny-btn:hover {
  transform: scale(1.1);
  background-position: -60px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  color:white;
  text-decoration: none;
}
.shiny-btn:active {
  transform: scale(1);
  background-position: 500px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  text-decoration: none;
}
a{
  color:white !IMPORTANT;      
}
a:hover{
  text-decoration: none !IMPORTANT;
}

